<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./style/main.css">
	<title>Music Box</title>
</head>
<body>

<h1>Home</h1>

<div class="header">
	<% newReleases.forEach(function(album){ %>
		<div class="feature-song">
			<h3><%= album.artists[0].name %></h3>
			<img src="<%= album.images[1].url %>" />
			<p><%= album.name %></p>
		</div>
	<% }) %>
</div>

<script type="text/javascript" src="./script/scripts.js"></script>
</body>
</html>
